<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form.css') }}">

            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Web Crawler</title>
        {% endblock %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index')}}">Web Crawler</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('FindLinks') }}">Find Links</a></li>
      <li><a href="{{ url_for('Crawle')}}">Crawle </a></li>
            <li><a href="{{ url_for('HowMany') }}">How Many</a></li>

    </ul>
  </div>
</nav>

    <div id="content" style="margin-top:5%;">{% block content %}{% endblock %}</div>

</body>
</html>