{% extends "base.html" %}
{% block title %}Links{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
            <h1 class="">Enter url,html tag and id</h1>
    <h2>Like http://facebook.com</h2>
		<form role="form" class="col-md-9 go-right" action="../crawle" method="post">
			<h2>Crawle Any Html Tag </h2>
            <p>Empty input search empty tag or class</p>
			<div class="form-group">
			<input id="name" name="url" type="text" class="form-control" required>
			<label for="name">URL</label>
		</div>
		<div class="form-group">
			<input id="tag" name="tag" type="text" class="form-control">
			<label for="tag">Tag</label>
		</div>
		<div class="form-group">
			<input type="text" id="class" name="class" class="form-control" >
			<label for="class">Class</label>
		</div>
            <div class="form-group">
                                <input type="submit" class="btn btn-danger" name="form-crawle" value="Crawle">

            </div>
		</form>

	</div>
</div>
    {% endblock %}
