<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Find Tag</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="container">
    <div class="row">
            <h1 class="">Enter url,html tag and id</h1>
    <h2>Like http://facebook.com</h2>
		<form role="form" class="col-md-9 go-right" action="../crawle" method="post">
			<h2>Form To Right</h2>
            <p>To see how it works, you clink in a input field.</p>
			<div class="form-group">
			<input id="name" name="url" type="text" class="form-control" required>
			<label for="name">URL</label>
		</div>
		<div class="form-group">
			<input id="tag" name="tag" type="text" class="form-control" required>
			<label for="tag">Tag</label>
		</div>
		<div class="form-group">
			<input type="text" id="id" name="id" class="form-control" required>
			<label for="id">Id</label>
		</div>
            <div class="form-group">
                                <input type="submit" class="btn btn-danger" name="form-crawle" value="Crawle">

            </div>
		</form>

	</div>
</div>
</body>
</html>